{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/silverlantern_static/js/bootstrap.js"></script>

<div class="container">
  <div class="row">
    <div class="well span10">
      <div class="page-header">
        <h1>Gallery of new words <small>Look through our fantastic showroom</small></h1>
      </div>
    </div> <!-- span 12 -->
  </div> <!-- row -->

  <div span="row">
    <div class="span12">

      <ul class="nav nav-pills categories">
        <li ng-class="{active: isSelected(category.name)}" ng-repeat="category in categories">
          <a ng-click="setCategory(category.name)" href="#"><h4>{[{category.name}]}</h4></a>
        </li>
      </ul>

      <div class="row">
      <div class="span1 verital-align:middle">
        <a ng-click="backward()" href="#"><i ng-hide="startIndex < 1" class="icon-chevron-left"></i></a>
      </div>
      <ul class="thumbnails span10 words">
        <li class="span3" ng-repeat="word in words | startFrom: startIndex | limitTo:pageSize">
            <div class="thumbnail">
                <h4>{[{word.name}]}</h4>
                <p class="muted">{[{word.info}]}</p>
                <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
            </div>
        </li>
      </ul>
      <div class="span1">
        <a ng-click="forward()" href="#"><i ng-hide="(startIndex+pageSize) >= words.length" class="icon-chevron-right"></i></a>
      </div>
    </div> <!-- span 12 -->
  </div> <!-- row -->
</div> <!-- container -->
{% endblock %}
