{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/silverlantern_static/js/bootstrap.js"></script>


<div class="container">
  <div class="row">
    <div class="well span10">
      <div class="page-header">
        <h1>Gallery of new words <small>Look through our showroom of fantastic words</small></h1>
      </div>
    </div> <!-- span 12 -->
  </div> <!-- row -->

  <div span="row">
    <div class="span12">

      <ul class="nav nav-pills">
        <li class="active">
          <a href="#"><h4>Hipster</h4></a>
        </li>
        <li><a href="#"><h4>Charming</h4></a></li>
        <li><a href="#"><h4>Brainiac</h4></a></li>
        <li><a href="#"><h4>Romantic</h4></a></li>
        <li><a href="#"><h4>Whimsical</h4></a></li>
      </ul>

      <div class="row">
      <div class="span1 verital-align:middle"><a href="#"><i class="icon-chevron-left"></a></i></div>
      <ul class="thumbnails span10">
        <li id="abhorrent" class="span3"> <div class="thumbnail">
          <h4>abhorrent</h4>  
          <p class="muted">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>  
          <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
        </div>
        </li>
        <li id="abrasive" class="span3"> <div class="thumbnail">
          <h4>abrasive</h4>  
          <p class="muted">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>  
          <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
        </div>
        </li>
        <li id="alluring" class="span3"> <div class="thumbnail">
          <h4>alluring</h4>  
          <p class="muted">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>  
          <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
        </div>
        </li>
      </ul>
      <div class="span1"><a href="#"><i class="icon-chevron-right"></a></i></div>
    </div> <!-- span 12 -->
  </div> <!-- row -->
</div> <!-- container -->
{% endblock %}
