{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/silverlantern_static/js/bootstrap.js"></script>


<div class="container">
  <div class="row">
    <div class="well span12">
      <h2>Gallery of new words</h2>
      <div class="span1"><h3 class="badge badge-success">Hipster</h3></div>
      <div class="span1"><h3 class="badge badge-info">Charming</h3></div>
      <div class="span1"><h3 class="badge badge-info">Academic</h3></div>
      <div class="span1"><h3 class="badge badge-info">Romantic</h3></div>
      <div class="span1"><h3 class="badge badge-info">Whimsical</h3></div>
    </div>
    <div class="row">
    </div>
    <div class="span4">
      <h4>abhorrent</h2>  
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>  
      <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
    </div>
    <div class="span4">
      <h4>abrasive</h2>  
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>  
      <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
    </div>
    <div class="span4">
      <h4>alluring</h2>  
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>  
      <p><a class="btn btn-success btn-large" href="#">Study this word</a></p>  
    </div>
  </div>
</div>
{% endblock %}
