{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
{{ state }}
    <h1 class="well">Welcome {{first_name}}</h1>
    <table class="table table-striped table-bordered">
        <thead>
        <tr><td>Key</td><td>Value</td></tr>
        </thead>
        <tbody>
        <tr><td>Username</td><td>{{user.username}}</td></tr>
        <tr><td>Email</td><td>{{user.email}}</td></tr>
        <tr><td>First name</td><td>{{user.first_name}}</td></tr>
        <tr><td>Last name</td><td>{{user.last_name}}</td></tr>
        <tr><td>Access Token</td><td>{{profile.access_token}}</td></tr>
        <tr><td>Token expiration</td><td>{{profile.token_expiration}}</td></tr>
        <tr><td>Token type</td><td>{{profile.token_type}}</td></tr>
        </tbody>
    </table>
    <p><a href="{{google_auth_url}}">Log in to google</a></p>
    <p><a href="/fetch_my_mail">Fetch my email</a></p>
    <p><a href="/choose_new_word">Choose a new word to learn</a></p>
    <p><a href="/logout/">Logout</a></p>
{% endblock %}
